body {
  background-color: darkslategray;
}

.bigboy {
  display: flex;
  justify-content: center;
}

.block {
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 150px;
  border: none;
  background-color: Transparent;
}

.select {
  width: 520px;
  height: 20px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  font-weight: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: rgb(246, 208, 85);
}

.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  font-weight: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  background-color: darkgrey;
  left: 0px;
}

.win {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(246, 208, 85);
  font-weight: 100px;
}

.lose {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(215, 69, 69);
  font-weight: 100px;
}

.hide {
  opacity: 0%;
}
